.custom-button {
    background-color: slateblue;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem;
}
