.custom-form {
    border-radius: 5px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.custom-form h2 {
    margin: 0 0 2rem 0;
}
